<header class="header header-6">
  <div class="branding">
    <span class="title">Budget</span>
  </div>
  <div class="header-nav">
    <a href="#" class="active nav-link nav-text">Dashboard</a>
    <a href="#" class="nav-link nav-text">Interactive Analytics</a>
  </div>
  <div class="header-actions">
    <ng-container *ngIf="auth.user | async as user; else login">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
          {{user.email}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem (click)="signOut()">Sign Out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </ng-container>
    <ng-template #login>
      <div class="signup-buttons">
        <button class="nav-btn btn" [routerLink]="'sign-up'">Sign Up</button>
        <button class="nav-btn btn btn-primary" [routerLink]="'sign-in'">Sign In</button>
      </div>
    </ng-template>
  </div>
</header>
